html {
    background: hotpink;
}

body {
    padding-top: 20px;
}

a {
	color: black;
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

.deck {
	-webkit-flex-flow: row wrap;
    justify-content: space-around;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 1em;
}

.card {
	@media only screen and (min-width: 768px) {
		width: 47%;
	}

	@media only screen and (min-width: 1024px) {
		width: 30%;
	}

	&:hover {
		opacity: 0.8;
	}

	display: table;
	position: relative;
	transition: opacity 0.1s ease-in-out;
	background: tomato;
	box-shadow: 5px 5px gray;
	width: 97%;
	list-style: none;
	margin-bottom: 1em;

	.source__image {
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	.card__title {
		margin: 0 0 0.2em;
	}

	.blink {
		display: block;
		padding: 1em 0.8em;
	}
}

