html {
    background: hotpink;
}

body {
    padding-top: 20px;
}

a {
	color: rgb(37, 37, 37);
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

.deck {
	-webkit-flex-flow: row wrap;
    justify-content: space-around;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 1em;
}

.card {
	@media only screen and (min-width: 768px) {
		width: 47%;
	}

	@media only screen and (min-width: 1024px) {
		width: 30%;
	}

	&:hover {
		opacity: 0.8;
	}

	&.dominant {

		&.ng-enter {
			background: teal;
		}

		.content {
			&--snippet {
				display: none;
			}

			&--full {
				display: inline-block;
			}
		}
	}

	display: table;
	position: relative;
	transition: opacity 0.1s ease-in-out,
			width 0.1s ease-in-out;
	background: tomato;
	box-shadow: 5px 5px gray;
	width: 97%;
	list-style: none;
	margin-bottom: 1em;

	.source__image {
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		opacity: 0.5;
		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	&__title {
		margin: 0 0 0.2em;
	}

	&__timestamp {
		font-size: 0.8em;
		margin-bottom: 1em;
		display: inline-block;
	}

	.blink {
		display: block;
		padding: 1em 0.8em;
	}

	.content {
		font-size: 1em;

		&--full {

		}

		p {
			margin: 0;
		}
	}
}

.button {
	&__toggle-card {
		position: absolute;
		right: 0;
		bottom: 0;
		background: teal;
		color: white;
		padding: 0.1em 0.3em;
		line-height: 1em;
		cursor: pointer;
		transition: opacity 0.1s ease-in-out;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		&:active {
			color: red;
		}
	}
}

