html {
    background: hotpink;
}

body {
    padding-top: 20px;
}

a {
	color: black;
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

.deck {
	-webkit-flex-flow: row wrap;
    justify-content: space-around;
	display: flex;
}

.card {
	&:hover {
		opacity: 0.8;
	}

	display: table;
	transition: opacity 0.2s ease-in-out;
	background: tomato;
	box-shadow: 5px 5px gray;
	width: 30%;
	list-style: none;
	margin-bottom: 1em;

	.source__image {
		&:hover {
			opacity: 1;
		}
	}

	.blink {
		display: block;
		padding: 1em 0.8em;
	}
}
